body {
	overscroll-behavior-y: contain;
}

@media (orientation: portrait) {
	html[onsflag-iphonex-portrait] .toolbar {
		padding-top: 22px;
	}

	html[onsflag-iphonex-portrait] .toolbar:not(.toolbar--cover-content)+.page__background, html[onsflag-iphonex-portrait] .toolbar:not(.toolbar--cover-content)+.page__background+.page__content {
		top: 66px;
	}

	html[onsflag-iphonex-portrait] .toolbar:not(.toolbar--cover-content)+.page__background, html[onsflag-iphonex-portrait] .toolbar:not(.toolbar--cover-content)+.page__background+.page__content {
		top: 66px;
	}
}

.toolbar__title {
	font-family: 'Oleo Script', cursive;
	font-size: 1.6rem;
}

.spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 999;
	display: none;
}

.tab-content {

}
