body {
	overscroll-behavior-y: contain;
}

@media (orientation: portrait) {
	html[onsflag-iphonex-portrait] .toolbar {
		padding-top: 22px;
	}

	html[onsflag-iphonex-portrait] .toolbar:not(.toolbar--cover-content)+.page__background, html[onsflag-iphonex-portrait] .toolbar:not(.toolbar--cover-content)+.page__background+.page__content {
		top: 66px;
	}

	html[onsflag-iphonex-portrait] .toolbar:not(.toolbar--cover-content)+.page__background, html[onsflag-iphonex-portrait] .toolbar:not(.toolbar--cover-content)+.page__background+.page__content {
		top: 66px;
	}
}

.toolbar__title {
	font-family: 'Oleo Script', cursive;
	font-size: 1.6rem;
}

.spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 999;
	display: none;
}

.tabicon {
	width: 24px;
	height: 24px;
}

.tabicon.history {
	background-image: url('../img/time_grey.png');
	background-size: contain;
	background-repeat: no-repeat;
}

.tabbar__item.active .tabicon.history {
	background-image: url('../img/time_blue.png');
	background-size: contain;
	background-repeat: no-repeat;
}

.tabicon.newvalue {
	background-image: url('../img/plus_grey.png');
	background-size: contain;
	background-repeat: no-repeat;
}

.tabbar__item.active .tabicon.newvalue {
	background-image: url('../img/plus_blue.png');
	background-size: contain;
	background-repeat: no-repeat;
}
